<div class="bcontainer h-100">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <p class="text-center">Get started with your free account</p>

        <form [formGroup]="registerForm">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="studentName" class="form-control" formControlName="studentName" placeholder="Full name" [ngClass]="{ 'is-invalid': f.studentName.touched && f.studentName.errors }" type="text">
                <div class="form-group mb-3" *ngIf="f.studentName.touched && f.studentName.errors" class="invalid-feedback">
                    <div *ngIf="f.studentName.errors.required">Name is required</div>
                    <div *ngIf="f.studentName.errors.minlength">Must contain 8 char and above</div>
                </div>
            </div>
            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="studentEmail" class="form-control" formControlName="studentEmail" [ngClass]="{ 'is-invalid': f.studentEmail.touched && f.studentEmail.errors }" placeholder="Email address" type="email">
                <div class="form-group mb-3" *ngIf="f.studentEmail.touched && f.studentEmail.errors" class="invalid-feedback">
                    <div *ngIf="f.studentEmail.errors.required">Email is required</div>
                    <div *ngIf="f.studentEmail.errors.minlength">Must contain 8 char and above</div>
                </div>
            </div>
            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" name="studentPassword" formControlName="studentPassword" id="studentPassword" [ngClass]="{ 'is-invalid': f.studentPassword.touched && f.studentPassword.errors }" maxlength="8" placeholder="Create password" type="password">
                <div class="form-group mb-3" *ngIf="f.studentPassword.touched && f.studentPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.studentPassword.errors.required">password is required</div>
                    <div *ngIf="f.studentPassword.errors.minlength">Must contain 8 char and above</div>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <select class="custom-select" style="max-width: 120px;">
          <option selected="">+91</option>
          <option value="1">+92</option>
          <option value="2">+18</option>
          <option value="3">+71</option>
        </select>
                <input name="studentPhone" formControlName="studentPhone" class="form-control" placeholder="Phone number" type="text">
            </div>
            <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid" (click)="studentRegister()"> Create Account</button>
            </div>
            <!-- form-group// -->
            <p class="text-center">Have an account? <a href="">Log In</a></p>
        </form>
    </article>
</div>