<div class="bcontainer h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="../assets/student_life.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="justify-content-center form_container">
                <form [formGroup]="loginForm" (ngSubmit)="studentLogin()">
                    <div class="input-group form-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" id="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }" maxlength="30" minlength="8" placeholder="username">
                        <div class="form-group mb-3" *ngIf=" f.username.touched && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                            <div *ngIf="f.username.errors.maxlength">Username must be within 8 char</div>
                        </div>
                    </div>
                    <div class="input-group form-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" id="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': f.password.touched && f.password.errors}" placeholder="password" maxlength="8">
                        <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.maxlength">password must be within 8 char</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button class="btn login_btn" [disabled]="!loginForm.valid">Login</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center">
                    Don't have an account? <a [routerLink]="['/student-register']" class="ml-2">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>