<div class="header">
    <a class="logo">Angular Application</a>
    <aside>
        <p><a href="#" (click)="logoutClicked()">Log Out</a></p>
    </aside>
    <aside>
        <p><a>Calender</a></p>
    </aside>
    <aside>
        <p><a [routerLink]="['/home']">Home</a></p>
    </aside>
</div>