.header {
    overflow: hidden;
    width: 1280px;
    height: 65px;
    background-color: gray;
    padding: 10px 20px;
}

.header a:hover {
    color: black;
    font-style: normal;
}

.header a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.header a.logo {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    font-family: "Arial Black";
}

aside {
    width: 100px;
    color: black;
    padding-left: .5rem;
    padding-top: 3px;
    margin-left: .5rem;
    float: right;
    font-style: italic;
    font-size: 20px;
}