<app-dashboard></app-dashboard>
<!-- <div class="background-image">
    <img src="../assets/photo-1571260899304-425eee4c7efc.jpg" class="brand_logo" alt="Logo">
    <!-- <img src="../assets/photo-1571260899304-425eee4c7efc.png"> 
</div> -->

<div>
    <table>
        <thead>
            <th>StudentName</th>
            <th>StudentEmail</th>
            <th>StudentPassword</th>
            <th>StudentPhone</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of userData">
                <td>{{user.studentName}}</td>
                <td>{{user.studentEmail}}</td>
                <td>{{user.studentPassword}}</td>
                <td>{{user.studentPhone}}</td>
            </tr>
        </tbody>
    </table>
</div>